body {
  margin: 0;
  padding: 0;
  font-family: "Sen",sans-serif;
  color: #091353;
}

.navbar{
  background-color: #eefdfd!important;
  font-family:  "Sen",sans-serif;
}

.navbar-brand{
  color: #091353!important;
  font-weight: bold!important;
  font-size: 30px;
  font-family: 'Georgia';
}

.navbar-light .navbar-nav .nav-link{
  color: #091353!important;
  font-weight: bold!important;
}

.btn-primary{
  background-color: #ffffff!important;
  border-color: #091353!important;
  color: #091353!important;
}

.btn-primary:hover{
  color: #ffffff!important;
  background-color: #091353!important;
}

.empty{
  margin-top: 30px;
}

.d-flex{
  justify-content: space-between;
}

.footer{
  background-color: #091353!important;
  color:#ffffff;
}

.card{
  border-color: #091353!important;
  color: #091353;
}

.card-header, .card-footer{
  border-color: #091353!important;
  background-color: #ffffff!important;
}

.card-header .card-title{
  color: #091353;
}

.card-header .title .fa-book{
  margin-right: 10px;
}

.card-body .title .fa-user{
  margin-right: 10px;
}

.card-footer button{
  float: right;
  background-color: #ffffff;
  margin-right: 10px;
  border-radius: 5px;
}

.card-footer button:hover{
  background-color: #091353;
  color:#ffffff;
}

